* {
	font-family: 'Droid Sans Mono', monospace;
}

#container {
	font-family: 'Droid Sans Mono', monospace;
	background-color: #FFE2CD;
	margin: auto;
	width: 90%;

}
header {
	background-color: #FFC8C0;
	height: 200px;

}
h1 {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 49px;
	font-weight: 600;
	text-align: center;
	padding-top: 80px;
	color: darkblue;
}
.topicons {
	display: relative;
	text-align: center;
	margin-top: 45px;

}
h3 {
	display: inline;
	font-size: 20px;
	font-weight: 500;
}
a {
	display: inline;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
}
section {
	height: 400px;
}
img {
	float: right;
	width: 50%;
}
h2 {
	font-size: 24px;
	font-weight: 600;
	color: darkblue;
	text-align: center;
	padding-top: 42px;
}
p {
	text-align: left;
	padding-top: 47px;
	padding-left: 44px;
	padding-right: 450px;
}
footer {
	clear: both;
	height: 100px;
	background-color: #FFC8C0;
}
.links {
	text-align: center;
	padding-top: 35px;
}